.header {
    @extend %center-block;
    background-image: url(/images/bg-phone.jpg);
    background-repeat: no-repeat;
    max-width: 480px;
    background-position: center;
    background-size: cover;
    padding-top: 20px;
    padding-bottom: 140px;
}
.nav-list {
    @extend %flex;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    column-gap: 5px;
    margin-bottom: 115px;
}
.nav-list__link {
    font-size: 13px;
    color: $header-text-color;
    padding: 11px 5px;
}
.nav-list__link:hover {
    cursor: pointer;
    border: 2px solid #fff;
    border-radius: 17px;
}
.logo {
    font-size: 18px;
    letter-spacing:0.06em ;
    text-transform: center;
    color: inherit;
}
.title {
    
}
